#logo {
    float: left;
    width: 100px;
    height: 100px;
}

nav {
    background-color: rgb(193, 248, 230);
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #9ba2be;
}

#menu {
    position: absolute;
    right: 0;
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
}